footer {
  display: flex;
  padding: 50px 15% 50px 10%;
  justify-content: space-between;
}

.bottom h3 {
  font-size: 14px;
  padding-bottom: 15px;
  color: #1f2026;
}
.bottom p {
  font-size: 12px;
  color: grey;
  padding-bottom: 15px;
}

span div {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
}
span p {
  font-size: 14px;
  font-family: Inter;
}
span span {
  display: flex;
  gap: 30px;
  padding-top: 15px;
}
.socialmedia span {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}
.socialmedia {
  padding-top: 30px;
  color: rgba(0, 0, 0, 0.889);
}
.finish {
  padding: 20px 0 ;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  border-top: 2px solid rgba(128, 128, 128, 0.277);
  justify-content: space-between;
}
.finish div {
  display: flex;
  gap: 20px;
}
